*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --color-main-text: #381D19;
  --color-accent-text: #435129;
/*   --color-frame: #bbe7aa; */
  --color-frame: #e3f6bb85;
  --color-frame-light: #E8F7B9;
  --font-normal: Montserrat, sans-serif;
  --font-accent: Eczar, Georgia, serif;
}

html {
  font-size: 16px;
}

body {
  background-color: #AADD77;
  color: var(--color-main-text);
  font-family: var(--font-normal);
  font-size: 1.1rem;
  margin: 1.5rem;
}

h1 {
  font-family: var(--font-accent);
  text-align: center;
  font-size: 4rem;
  margin: auto;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  font-family: var(--font-accent);
  font-weight: 500;
  color: var(--color-accent-text);
}

.subtitle {
  font-style: italic;
  margin: auto;
  margin-bottom: 3rem;
  text-align: center;
  font-family: var(--font-normal);
}

.box {
  background-color: var(--color-frame);
  padding: 1rem;
  border-radius: 10px;
}

.fig-container {
  max-width: 80vw;
  margin: auto;
  text-align: center;
}

#img-div {
  margin: auto;
  padding: 0.5rem;
  display: inline-block;
  background-color: var(--color-frame-light);
}

#image {
  margin: auto;
/*   object-fit: contain; */
  max-width: 100%;
  height: auto;
}

#img-caption {
  display: inline-block;
/*   width: 0;
  min-width: 100%; */
  width: 100%;
  text-align: left;
  font-size: 0.9em;
}

article, #linkbox {
  margin: auto;
  margin-bottom: 2rem;
/*   max-width: 90%; */
}

dt {
  font-size: 1.1em;
  font-weight: 500;
}

dd {
  padding-left: 1em;
  padding-bottom: 0.5em;
}

#tribute-link {
  margin: auto;
  font-size: 1.1em;
/*   padding-top: 1em; */
}

a {
  color: var(--color-accent-text);
  font-weight: bold;
}

#gallery {
  display: grid;
  gap: 0.7rem;
  margin: auto;
  max-width: 80vw;
}

.card {
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  border: 0;
  background-color: var(--color-frame-light);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.fact {
  overflow: auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
}

.fact p {
  text-align: center;
  font-family: var(--font-accent);
  font-size: 9.5vi;
}

.fact-long p {
  font-size: 8vi;
}

#sources {
  margin-top: 2rem;
}

ul {
  padding-left: 1rem;
}

.divider {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.75rem;
}

.divider::after {
  content: "🎍"; /*🎍 \1f38d*/
}

footer {
  margin-top: 2rem;
}

footer p {
  text-align: center;
}



@media (min-width: 550px) {
  #gallery {
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
  }
  article, #linkbox {
    max-width: 90%;
  }
  .fact p {
    font-size: 3.1vi;
  }
  .fact-long p {
    font-size: 2.6vi;
  }
}